/* Styles généraux */
body {
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    min-width: 360px;
    min-height: 500px; /* Augmente la hauteur pour éviter l'effet colonne */
}


.container {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 360px;
    max-width : 100%;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #374151;
    margin-bottom: 16px;
}

input[type="file"] {
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    margin-bottom: 16px;
    outline: none;
    transition: border-color 0.2s;
}

input[type="text"]:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}

button {
    width: 100%;
    background-color: #3b82f6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #2563eb;
}

canvas {
    margin-top: 16px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    width: 100%;
}
